etc/
build-*/
build_*/
dataset_*/
binaries*/
java_gui/dist/
java_gui/build/
java_gui/bgslibrary.exe
python/
qt_gui/
fet/etc/
*.exe
*.pdb
*.suo
*.dll
*.pyd
*.so
*.config
*.creator
*.creator.user
*.files
*.includes
bgs.egg-info
