etc/
build-*/
build_*/
dataset_*/
binaries*/
examples/build-*/
examples/build_*/
gui/java/dist/
gui/java/build/
gui/java/bgslibrary.exe
_*
*.exe
*.pdb
*.suo
*.dll
*.pyd
*.so
*.config
*.creator
*.creator.user
*.files
*.includes
bgs.egg-info
