etc/
tmp/
bkp/
build-*/
build_*/
dist/
dataset_*/
binaries*/
examples/build-*/
examples/build_*/
gui/java/dist/
gui/java/build/
gui/java/bgslibrary.exe
_*
*.exe
*.pdb
*.suo
*.dll
*.pyd
*.so
*.config
*.creator
*.creator.user
*.files
*.includes
*.egg-info/
.vscode/
bgslibrary_gui
.pypirc
upload.sh
*.code-workspace
env
bgslibrary_env
bgslibrary_test_env
# pixi environments
.pixi/*
!.pixi/config.toml
pixi.lock
